/* 📌 Sidebar (Menu lateral) */
.custom-menu {
    padding: 0;
    background: #FFF;
    margin-top: 20px;
    border: none;
    
}

.custom-menu .ant-menu-item {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: var(--primary-color) !important;
    transition: background 0.3s;
}

.custom-menu .ant-menu-item:hover {
    background-color: #d9eaff !important;
}

.custom-menu .ant-menu-item a {
    color: var(--primary-color) !important;
    text-decoration: none;
}

.custom-menu .ant-menu-item-icon {
    color: var(--primary-color) !important;
}

/* 📌 Sidebar (Menu estilo dark) */
.ant-menu-dark .ant-menu-item {
    display: flex;
    margin: 0 auto;
    background-color: #FFF;
    font-weight: 400;
    border: solid 0px #b6b3b3;
    line-height: 14px;
    padding: 25px;
    margin-top: 10px;
    color: #0d0d0d;
    font-size: 16px;
}

.ant-menu-dark .ant-menu-item:hover {
    background-color: rgb(250, 250, 250);
}

/* 📌 Header (barra superior) */
.header-app {
    width: 100%;
    height: 100%;
    display: flex;
}

/* Menu lateral responsivo */
.item_menu_draw {
    display: block;
    background-color: #e8eaef70;
    margin-top: 10px;
    padding: 15px;
    border-radius: 5px;
    font-size: 14px;
    color: #555867;
}

.item_menu_draw:hover {
    color: #FFF;
}

.header-card .header-itens {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 10px;
}

.header-itens-botton {
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.header-itens-botton span {
    margin-left: 10px;
}