.table-container {
    background: white;
    padding: 16px;
    border-radius: var(--border-radius);
    width: 100%;
    overflow-x: auto; 
}

.table-header {
    font-size: var(--font-size-title);
    font-weight: bold;
    color: var(--text-dark);
    margin-bottom: 15px;
}


@media (max-width: 1024px) {
    .table-container {
        padding: 10px;
    }

    .table-header {
        font-size: 20px;
    }
}


.actions {
    display: flex;
    gap: 8px;
}