
.card_style{
    border-left: 3px solid rgb(0, 66, 129)
}

.card_content_style{
    min-width: 100%;
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}
.card_content_title{
    font-size: 16px;
    font-weight: 500;
}

.card_conten_value{
    font-size: 40px;
    font-weight: 500;
    color: rgb(0, 66, 129)
}

/* Ajuste para telas entre 740px e 1220px */
@media (min-width: 750px) and (max-width: 1200px) {
    .card_content_title{
        font-size: 13px;
        font-weight: bold;
    }
    .card_conten_value {
        font-size: 26px; /* Diminui o número */
    }

   
}





